/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  /* velikost mapy */
  .leaflet-container {
    height: 100vh;
    width: 75%;
    overflow: hidden;
  }

  /* logo + navigace + hledani */
  header {
    text-align: center;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  header a {
    text-decoration: none;
    color: black;
    padding: 1rem;
  }

  /* pravá strana aplikace */
  .Main-Container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
  }

  .Main-Panel {
    flex: 1;
    padding: 20px;
    overflow: auto;
  }

  .Main-Panel p {
    margin-bottom: 5px;
  }

  /* obrazek Home */
  .img-wrapper-home {
    text-align: center;
  }

  .img-wrapper-home img {
    height: 250px;
    width: auto;
  }

  /* obrazky katrgorii Sber */
  .img-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
  }

  .img-wrapper img {
    height: 110px;
    width: auto;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 25px;
  }

  .img-wrapper img:hover {
    opacity: 0.5;
  }

  /* obrazky katrgorii Misto */
  .img-wrapper-misto {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
  }

  .img-wrapper-misto img {
    height: 90px;
    width: auto;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 25px;
  }

  .img-wrapper-misto img:hover {
    opacity: 0.5;
  }

  /* seznam míst */
  .Main-Panel-Seznam {
    margin-top: 1rem;
    flex: 1;
    overflow: auto;
    padding: 20px;
    height: 450px;
  }

  .card {
    width: "14rem";
  }

  .Misto-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* zápatí */
  .Footer {
    margin: auto 1rem 1rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .Footer p {
    margin: 0;
    color: grey;
    font-size: 12px;
  }

  .Footer a {
    text-decoration: none;
    color: #4caf50;
  }

  .Footer a:hover {
    text-decoration: underline;
  }

  .social img {
    height: 1.5rem;
    width: auto;
    padding-left: 5px;
  }
}
